footer{
    /* bottom: 0; */
    /* position: fixed; */
    padding: 1.5rem;
    width: 100%;
    z-index: 0;
    background-color: var(--dark-grey);
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 700;
}
footer a{
  color: var(--grey);
}

footer a:hover{
  color: var(--bright-yellow);
}

footer ul{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  line-height: 1em;
}

footer>ul{
    font-size: 2rem;
    flex-wrap:wrap;

}

footer #text{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0rem;
  font-size: 2.2rem;
  text-align: center;

}

footer #socialIcons ul{
  flex-wrap:nowrap;
}

footer #socialIcons ul li {
  margin-right:1.8rem;
  font-size: 2.5rem;
}

footer #socialIcons ul li:last-child{
  margin-right:0;
}


@media screen and (max-width: 413px){
  .text{
    width: 100%;
    padding: calc(3% + 3px) 0px;
  }
}

@media screen and (max-width: 575px){
  footer{
    padding: 1rem;
  }
  /* footer #text{
    margin: 0rem;
    font-size: 2.2rem;
    text-align: center;
  } */

  footer #socialIcons{
  margin-top:0.6rem;
  }

  footer #socialIcons ul li{
    margin-right: 1.8rem;
    font-size: 2.5rem;
  }

  .text{
    width: 63%;
  }
  /* footer>ul{
      font-size: 2rem;
    } */

}

@media screen and (min-width: 575px){
  footer #text{
    margin: auto 1.6rem;
  }
}
