/* This page defines css grid settings for different
 * column number grids
 */

/*********************************************/
/* ---- Default is Mobile size < 575px ----- */
/*********************************************/
 .full-width-wrapper{
  /* padding: 4rem 2rem; */
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.sectionHeaderWrapper{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.d-two-m-one-col-sym-grid, .d-one-m-one-col-grid, .myJourney-grid, .d-two-m-one-col-asym-grid, .d-left-col, .d-right-col{
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
}
.d-right-col{
  margin-bottom: 1rem;
}
.d3-t2-m1-col-grid, .d-three-m-scroll-col-grid{
  /* grid-template-columns: repeat(2,minmax(20rem, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  display: grid;
  /* max-width: 1440px; */
  align-items: top;
}
.d3-t2-m1-col-grid{
  /* margin-top: 3rem; */
}

.d3-t2-m1-col-grid > * {
  padding: 0;
}
.d3-t2-m1-col-grid-card figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30% 0;
    cursor: pointer;
    border: 1px solid var(--light-grey);
}

.d3-t2-m1-col-grid-card figure:hover img {
    opacity: 0.25;
    filter: saturate(0);
    filter:blur(2px);
}

.d3-t2-m1-col-grid-card figure:hover figcaption {
    opacity: 1;
    transform: translateY(0);
}

.d3-t2-m1-col-grid-card figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
}
.d3-t2-m1-col-grid-card figcaption:first-child{
  opacity: 1;
  transform: none;
}


.d3-t2-m1-col-grid-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.card {
    min-height: 30px;
    display: flex;
    flex-direction: column;
    padding: 3rem calc(2% + 10px);
    border: 2px solid var(--lime-green);
    font-weight: 400;
    box-shadow: 5px 5px 5px var(--light-grey);
    color: var(--dark-green);
    border-radius: 0.5rem;
}
a.card:after{
 border:none;
}

.one-col-card{
  padding: 0 0 3rem 0;
}


/* .one-col-cntr{
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0 0;
} */

.col-1
{
  width: 30%;
  display: block;
  align-self: center;
}

.col-1-content{
  justify-self: center;
  line-height: 130%;
}

.d-one-m-one-col-grid .col-1-content{
  margin: 0 auto;
  float: none;
  max-width: 80%;
}

.card img{
  /* max-width:40%; */
  width: 100%;
  display: block;
  height: auto;
  /* margin: auto; */
  /* padding-bottom: 2rem; */
}
.card .cardImgCont{
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 40%;
}

.col-2{
  width: 70%;
  padding: 0 0px 0px 2rem;
  text-align: left;
}

.subsection, .subsectionMobile{
  padding-left: 5%;
  padding-right: 5%;
}


/* .m-bottom-margin{
  margin-bottom: 4rem;
} */

.d-three-m-scroll-col-grid{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.d-three-m-scroll-col-grid>*:first-child{ margin-left: 2rem; }
.d-three-m-scroll-col-grid>*:last-child{ margin-right: 2rem; }

/* .subsection .d-three-m-scroll-col-grid{
  padding-left: 0;
  padding-right: 0;
} */



.d-three-m-scroll-col-grid::-webkit-scrollbar {
  display: none;
}

.scrollCard{
  /* width: min-content; */
  max-width: 50rem;
  flex: 0 0 auto;
  /* flex: 1 0 0; */
  margin-right: 3rem;
  min-width: 30rem;
  /* border-bottom: 2px dotted var(--light2-grey); */
}
.scrollCard>*:nth-child(2){ /*for the first scrollCardCaption*/
  padding-top:1rem;
}


.scrollCardCaption{
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  padding-bottom: 1rem;
}


.scrollCardCaption>*:first-child{
  margin-right:1rem;
  /* max-width: 4rem; */
}


/********************************/
/* ------ Tablet/Desktop ------ */
/********************************/
@media only screen and (min-width: 575px) {
  .full-width-wrapper{
   /* padding: 7rem 5rem; */
   padding-top: 6rem;
   padding-bottom: 6rem;
 }

 .sectionHeaderWrapper{
   padding-top: 3rem;
   padding-bottom: 3rem;
 }

  .d-one-m-one-col-grid{
   grid-row-gap: 2rem;
   max-width: 72.4rem;
   margin: auto;
  }


  .d-left-col h1{
    text-align: left;
  }

  .myJourney-grid{
    grid-column-gap: 2rem;
    /* grid-row-gap: 3rem; */
    grid-auto-rows: minmax(1.5rem, auto);
    grid-template-columns: 1fr 5fr 1fr;
  }

  .d-start2span2{
    grid-column: 2 / span 2;
  }

  .d-4r-by-2c{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    max-width: 1040px;
    margin: auto;
  }

  /* .col-1-content{
    justify-self: right;
    max-width: 100%;
  }

  .one-col-card{
    padding: 0 11.2% 6.4rem 0;
  } */

  /* .one-col-cntr{
    padding: 4rem 0 0;
  } */

  /* .one-col-content{
    max-width: 67rem;
    margin: 0 auto;
  }
  .one-col-img{
    max-width:67rem;
  } */

  .subsection{
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
  }


  /* .col-2{
    width: 80%;
    padding: 0 0px 0px 5%;
    text-align: left;
  } */
  /* .m-bottom-margin{
    margin-bottom: 0rem;
  } */
  /* .card img{
    max-width:30%;
  } */

  .card .cardImgCont{
    width:30%;
  }

  a.card button{
    pointer-events:auto;
    cursor:pointer;
  }

}

@media screen and (min-width: 769px){
  .full-width-wrapper{
    /* padding: 8rem 10.4rem; */
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .subsectionMobile{
    padding-left: 0;
    padding-right: 0;
  }

  .sectionHeaderWrapper{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }


  /* .myJourney-grid{
      margin: 0 18%;
  } */

  .d-two-m-one-col-sym-grid, .d-two-m-one-col-asym-grid{
    grid-column-gap: 8.25%;
    max-width: 1040px;
    margin:auto;
    align-items: center;
  }

  .d-two-m-one-col-sym-grid{
    grid-template-columns: repeat(2, 1fr);

  }

  .d-two-m-one-col-asym-grid{
    grid-template-columns: 4.5fr 5.5fr;
  }

  .d-left-col{
    grid-column: 1/ span 1;
  }

  .d-right-col{
    grid-area: 1 / 2 / span 3 /2;
    /* margin-bottom: 0; */
  }

  .d-right-col-singlerow{
    grid-area: 1 / 2 / span 1;
  }

  .d3-t2-m1-col-grid{
        max-width: 1120px;
    }

  .d3-t2-m1-col-grid, .d-three-m-scroll-col-grid{
    margin-top: 0;
    /* max-width: 1040px; */
    /* calc(1040px - 14%); */
    margin: auto;
  }

  .d-three-m-scroll-col-grid{
    display: grid;
    /* flex-wrap: nowrap; */
    overflow-x: none;
    -webkit-overflow-scrolling: none;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
  }

  .d-three-m-scroll-col-grid>*:first-child{ margin-left: 0; }
  .d-three-m-scroll-col-grid>*:last-child{ margin-right: 0; }

  /* .subsection .d-three-m-scroll-col-grid{
    padding-left: initial;
    padding-right: initial;
  } */

  .scrollCard{
    width: auto;
    max-width: none;
    flex: none;
    margin-right: 0;
    /* border-bottom: none; */
  }
  .scrollCard>*:nth-child(2){
    padding-top:2rem;
  }

  .scrollCardImg{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .personas-grid{
    grid-template-areas:
    "intro card1"
    "card2 card1"
    "card2 card3"
    "concl card3"
  }

  .hifi-homepage-grid{
    grid-template-rows: 0.75fr 4fr 3fr 1.5fr;
    grid-column-gap: 5rem;
    margin: 4rem 0 0 0;
    grid-template-areas:
    "homepageV1text homepageV2"
    "homepageV1 homepageV2"
    "homepageV1 homepageV2"
    "homepageConcl homepageV2"
  }

  .myJourney-grid{
      /* grid-column-gap: 3rem; */
    /* grid-row-gap: 6rem; */
    /* grid-template-columns: 1fr 4fr 1fr; */
  }

  .card{
    /* padding-top: 0;
    padding-bottom: 0;
    border: 0;
    box-shadow: none; */
    /* pointer-events:none;
    cursor:default; */
    padding: 3rem calc(5% + 10px);
  }

  .col-1{
    width: 20%;
  }
  .col-2{
    width: 80%;
  }

  .subsection{
    padding-left: 7%;
    padding-right: 7%;
    /* max-width: 160rem; */
    margin: 0 auto;
  }
}

/******************************************/
/* ------ For hi-def large screens ------ */
/******************************************/

@media screen and (min-width: 1640px){

    .d-three-m-scroll-col-grid{
      max-width: none;
    }
}

/**********************************/
/* ------ For small Mobile ------ */
/**********************************/
@media screen and (max-width: 413px){

  .d-two-m-one-col-sym-grid{
    grid-auto-rows: auto;
  }


  /* .col-1{
    width: 100%;
  }

  .col-2{
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    /* text-align: center; */
/*  }
  .col-1-content{
    float:none;
    margin: 0 auto;
    max-width: 35%;
  } */
  .d-one-m-one-col-grid .col-1-content, .d-two-m-one-col-sym-grid .col-1-content{
    max-width: 45%;
  }

  .card .cardImgCont{
    width:50%;
  }


}
