/* This page defines css grid settings for different
 * column number grids
 */

/*********************************************/
/* ---- Default is Mobile size < 575px ----- */
/*********************************************/
 .full-width-wrapper{
  padding: 4rem 2rem;
}


.d-two-m-one-col-grid, .d-one-m-one-col-grid, .d-three-m-one-col-grid{
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
}

.card {
    min-height: 30px;
    display: flex;
    flex-direction: row;
    padding: 3rem calc(2% + 10px);
}

.one-col-card{
  padding: 0 0 3rem 0;
}


.one-col-cntr{
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0 0;
}

.col-1
{
  width: 30%;
  display: block;
  align-self: center;
}

.col-1-content{
  justify-self: center;
  line-height: 130%;
}
.m-bottom-margin{
  margin-bottom: 5rem;
}
.d-one-m-one-col-grid .col-1-content{
  margin: 0 auto;
  float: none;
  max-width: 80%;
}

.card img{
  max-width:90%;
  height: auto;
  display: block;
  margin: auto;
}

#blog .card img, #projects .card img{
  max-width: 100%;
}

.col-2{
  width: 70%;
  padding: 0 0px 0px 2rem;
  text-align: left;
}

/********************************/
/* ------ Tablet/Desktop ------ */
/********************************/
@media only screen and (min-width: 575px) {
  .full-width-wrapper{
   padding: 7rem 5rem;
 }
  .d-one-m-one-col-grid{
   grid-row-gap: 2rem;
  }
  .d-two-m-one-col-grid{
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    margin-top: 4rem;
    /* justify-content: center; */
  }

  .d-three-m-one-col-grid{
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    grid-auto-rows: minmax(1.5rem, auto);
    grid-template-columns: 1fr 5fr 1fr;
  }

  .d-start2span2{
    grid-column: 2 / span 2;
  }
  .col-1-content{
    justify-self: right;
    max-width: 100%;
  }

  .one-col-card{
    padding: 0 11.2% 6.4rem 0;
  }
  .one-col-cntr{
    padding: 4rem 0 0;
  }

  .one-col-content{
    max-width: 67rem;
    margin: 0 auto;
  }
  .one-col-img{
    max-width:67rem;
  }

  .col-2{
    width: 80%;
    padding: 0 0px 0px 5%;
    text-align: left;
  }
  .m-bottom-margin{
    margin-bottom: 0rem;
  }

}

@media screen and (min-width: 769px){
  .full-width-wrapper{
    padding: 8rem 10.4rem;
  }
  .d-one-m-one-col-grid, .d-three-m-one-col-grid{
      margin: 0 11%;
  }
  .d-two-m-one-col-grid{
      margin-top: 5rem;
  }

  .d-4r-by-2c{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .personas-grid{
    grid-template-areas:
    "intro card1"
    "card2 card1"
    "card2 card3"
    "concl card3"
  }

  .hifi-homepage-grid{
    grid-template-rows: 0.75fr 4fr 3fr 1.5fr;
    grid-column-gap: 5rem;
    margin: 4rem 0 0 0;
    grid-template-areas:
    "homepageV1text homepageV2"
    "homepageV1 homepageV2"
    "homepageV1 homepageV2"
    "homepageConcl homepageV2"
  }

  .d-three-m-one-col-grid{
      /* grid-column-gap: 3rem; */
    grid-row-gap: 6rem;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .card img{
    max-width:70%;
  }
  .col-1{
    width: 20%;
  }
  .col-2{
    width: 80%;
  }
  /* .one-col-content{
    max-width: 67rem;

  } */
}

/**********************************/
/* ------ For small Mobile ------ */
/**********************************/
@media screen and (max-width: 413px){

  .d-two-m-one-col-grid{
    grid-auto-rows: auto;
  }

  .card{
    flex-direction: column;
  }

  .col-1{
    width: 100%;
  }

  .col-2{
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    /* text-align: center; */
  }
  .col-1-content{
    float:none;
    margin: 0 auto;
    max-width: 35%;
  }
  .d-one-m-one-col-grid .col-1-content, .d-two-m-one-col-grid .col-1-content{
    max-width: 45%;
  }

  .card img{
    max-width:50%;
  }


}
