header{
  display:flex;
}
header h1, header h2, header ul{
  font-family: 'Roboto Condensed';
}

header h1{
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header h2{
  color: var(--medium-green);
  font-size: 1.6rem;
  font-weight:200;

}

ul{
  font-weight:300;
}

 #menuToggle span{
margin: 0px 20px;
/* width:20px;*/
}

.headerText{
  width: 65%;
  padding: 30px 10px;
  min-width: 175px;
}
.mainLogo{
  margin: 16px 10px;

}

/*      HAMBURGER MENU           */
a {
  text-decoration: none;
  color:#A5A89D;

  transition: color 0.3s ease;
}

nav a:hover {
  border-bottom: 1px solid var(--medium-green);
  padding-bottom: 0.1em;
  color: var(--medium-green);
}

#menuToggle {
  display: block;
  position: fixed;
  top: 44px;
  right: 20px;
  justify-content: flex-end;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 30px;
  right: 40px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #a7b909;
  border-radius: 2px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top right of the screen
*/
#topMenu{
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  margin-top: -100px;
  padding-right: 100px;
  padding-top: 200px;
  text-align: right;
  background: #D7DD9F;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: top right;
  transform: translate(100%, 0%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#topMenu li {
  padding: 10px 0;
  font-size: 3rem;
}
/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  transform: none;
}
/* For Mobile */
@media screen and (max-width: 574px){

  .mainLogo{
    height: 8rem;
  }

}



/* For Desktop */
@media screen and (min-width: 575px) {

header{
  margin: 0 5%;
}
.desktopNav{
  width: 85%;
  justify-content: flex-end;
  margin: auto 0;
}
.desktopMenu{
    display: flex;
    justify-content: inherit;
    font-size: 2rem;
    font-weight:300;
    text-transform: uppercase;
}

.desktopMenu>li{
  margin-right: 13px;
}

.mainLogoContainer{
  width: 15%;
}
.mainLogo{
  height: 6rem;
}

}
