
header{
  display:flex;
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  /* background-color: var(--light-grey); */
  border-bottom: 1px var(--light2-grey) solid;
  z-index: 1;
  max-width: 2000px;
  margin: 0 auto;
  transition: top 0.3s;
}

header h1, header h2, header ul{
  font-family: 'Roboto Condensed';
  padding:0;
}

header h1{
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  text-align: left;
  text-transform: none;
}

header h2{
  color: var(--dark-grey);
  font-size: 1.6rem;
  font-weight:200;
  text-align: left;
  margin: 0;

}

header ul{
  font-weight:300;
}

.headerText{
  width: 45%;
  padding-left: 10px;
  min-width: 175px;
  align-self: center;
}

.mainLogo{
  margin: 16px 10px 10px 20px;
  height: 6rem;
  display:block;
}


/********************************/
/* ------ HAMBURGER MENU ------ */
/********************************/

#menuToggle {
  display: block;
  position: fixed;
  top: 25px;
  right: 20px;
  padding: 10px;
  justify-content: flex-end;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  /* background-color: rgba(255,255,255,0.7); */
  border-radius: 2px;
}


#menuToggle input
{
  display: block;
  width: 45px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  margin: 0;
  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  padding: 0;
  background: var(--lime-green);
  border-radius: 2px;

  z-index: 3;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
  margin-bottom: 0px;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--bright-yellow);
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top right of the screen
*/
#topMenu{
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: calc(100vh + 100px);
  /* margin-top: -100px; */
  padding-right: 20vw;
  padding-top: 10vh;
  z-index: 2;
  text-align: right;
  background: var(--light-yellow);
  text-transform: uppercase;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: top right;
  transform: translate(100%, 0%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#topMenu li {
  padding: 0.8rem 0;
}

#topMenu li a{
  /* font-size: 3rem; */
  font-weight:400;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  transform: none;
}

/************************************/
/* ------ For smaller Mobile ------ */
/************************************/

@media screen and (max-width: 413px){
  .caseStudy #menuToggle {
    top: 10px;
    right:10px;
  }
 .headerText.caseStudy h2{
   display: none;
 }
 .headerText.caseStudy h1{
   text-align: center;
 }
 .caseStudy .mainLogo{
   height: 4rem;
   margin: 12px 0 10px 20px;
 }
}
/************************************/
/* ------ For tablet/desktop ------ */
/************************************/

@media screen and (min-width: 575px) {

  header{
    padding: 0 5%;
  }
  header h1{
    font-size: 3rem;
  }

  .mainLogo{
    margin: 16px 10px 10px 0px;
    height: 7rem;
  }

  .desktopNav{
    width: 100%;
    justify-content: flex-end;
    margin: auto 0;
  }
  .desktopMenu{
      display: flex;
      justify-content: inherit;
      font-size: 1.6rem;
      font-weight:600;
      text-transform: uppercase;
  }

  .desktopMenu>li{
    margin-right: 1.8rem;
  }

  .desktopMenu a{
      font-weight: 300;
  }

  .mainLogoContainer{
    width: 10%;
  }
}

@media screen and (min-width: 700px) {
  .mainLogo{
    margin-left:20px;
  }
  .desktopMenu{
      font-size: 2rem;
  }

  .desktopMenu>li{
    margin-right: 2rem;
  }
}
