:root{
    --blue: #86D7CA;
    --red: #DF8C78;
}
#hero{
  text-align:center;
  padding-top: 1rem;

}

#hero h2{
  font-family: 'Muli', sans-serif;
  line-height: 130%;
  padding: 0;
  border: none;
}

.heroEmphasis{
  font-family: 'Advent Pro', serif;
  font-weight: 400;
  text-transform: uppercase;
}

#hero .purple{
  color: var(--dark-green);
}
#hero .red{
  color: var(--dark-green);
}
#hero .blue{
  color: var(--dark-green);
}

#hero div{
 padding-bottom: 3rem;
}

/*For Mobile*/
@media screen and (max-width: 574px){
  #hero img{
    height: 120px;
    margin: 0 auto;
  }
  #hero div{
   padding-bottom: 3rem;
  }
  #hero h2{
   font-size: 2rem;
  }
  .heroEmphasis{
    font-size: 1.8rem;
  }

}

@media screen and (max-width: 413px){
  #hero img{
    height: 110px;
    margin: 0 auto;
  }
  #hero div{
   padding-bottom: 2.5rem;
  }

}

/* For Tablet*/
@media screen and (min-width: 575px){

  #hero{
    max-width: 575px;
    margin: 0 auto 2rem;
    padding: 2rem;
  }
  #hero h1, #hero .heroTitle{
    color: var(--dark-green);
    font-size: 3.6rem;
    font-family: 'Muli', sans-serif;
    padding: 2rem 0;

    text-transform: none;
  }

  #hero div{
    padding: 0 0 1.2rem 0;
  }
  #hero h2{
    font-size: 2.3rem;
  }
  .heroEmphasis{
    font-size: 2.3rem;
  }

  .subtext{
    font-size: 1em;
  }

  #hero .flexing h2{
    order: 1;
    width: 70%;
    margin: auto 2em auto 0;
    text-align: left;
  }
  #hero .flexing img{
    height: 250px;
    width: auto;
    order: 2;
    margin: 0 0 0 auto;
  }

}
/*For Desktop*/
@media screen and (min-width: 700px){
  #hero{
    max-width: 900px;
    padding: 4rem 2rem;
  }
  #hero h1, #hero .heroTitle{
    font-size: 3.6rem;
    text-align: left;
  }
  #hero h2{
    font-size: 3rem;
  }

  #hero .subtext{
    font-size: 1em;
  }
  #hero .heroEmphasis{
    font-size: 3rem;
  }
  #hero .flexing h2{
    /* width: 60%; */

  }
  #hero .flexing img{
    height: 300px;
    /* width: auto;
    order: 2;
    margin: 0 0 0 auto; */
  }
}
