#bgMath{
    background-image: url(../images/sketches/mathNoBorder@1x.png);
}
#bgGraphicDesign{
    background-image: url(../images/sketches/graphicDesignNoBorder@1x.png);
}

#bgUXEthics{
    background-image: url(../images/sketches/ethicsNoBorder@1x.png);
}

.circleBorder{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--lime-green);
}

.twoThirdWidth{
  width: 67%;
}
.oneThirdWidth{
  width: 33%;
}

/*For desktop*/
@media screen and (min-width: 575px){
  .circleBorder{
    height: 165px;
    width: 165px;
    background-size: 165px 165px;
  }

}

 .full-width-wrapper{
  padding: 2rem;
  /* background-color: #DED7E0; */
}

.row{
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.card {
    /* background: #F5EFF7; */
    /* color: #777; */
    min-height: 30px;
    display: flex;
    padding: calc(3% + 3px) calc(2% + 5px);
}


 /* h1{
  font-size: 4.8rem;
  text-align: center;
  padding: 80px 20px;
  font-family: 'advent pro';
   font-weight: 800;
  text-transform: uppercase;
}  */
/* h3{
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 100%;
} */
/* a{
  text-decoration: none;
} */

.col-1-cntr{
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
}

.col-1-cntr .lnk{
  text-transform: uppercase;
  font-family: 'advent pro';
  font-size: 2.8rem;
}

.purple-dark{
  color: #7D488E;
}

.full-width-wrapper a{
  display: inline-block;
  position: relative;
  font-size: 1.8rem;
}

.full-width-wrapper a:after{
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 0.1rem solid;
  margin-top: 0.3em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.full-width-wrapper a:hover:after{
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

date{
  padding: 10px 0 15px 0;
  display: block;

  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
}

.image
{
  width: 37%;
  display: block;
}

.card img{
  width:100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.col-2{
  width: 70%;
  padding: 0 0px 0px 20px;
  text-align: left;
}
footer{
    bottom: 0;
    position: fixed;
    padding: 1.5rem;
    width: 100%;
    z-index: 1;
    background-color: #55574F;
    color: #A5A89D;
    text-transform: uppercase;
  font-weight: 700;
}
footer a{
  color: #A5A89D;
}

footer a:hover{
  color: #A7B909;
}

footer ul{
  margin: auto;
  display: flex;
  justify-content: center;
}

footer>ul{
    font-size: 2rem;
    flex-wrap:wrap;
}

footer #text{
  margin: auto 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
}

footer #socialIcons ul{
  flex-wrap:nowrap;
}

footer #socialIcons ul li {
  margin-right:2.5rem;
  font-size: 2.7rem;
}

footer #socialIcons ul li:last-child{
  margin-right:0;
}

@media screen and (max-width: 768px){
    h1{
    font-size: 3.2rem;
    }
  h3{
    font-size: 2.6rem;
    }
  .lnk{
    font-size: 2rem;
  }
  date{
    font-size: 1.6rem;
  }
}

/*Mobile */
@media only screen and (max-width: 575px) {
  .row{
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
  }

  .image
  {
   width: 37%;

  }

  text{
    width: 63%;
  }
   date{
    display: none;
  }
  h1{
    font-size: 3.2rem;
    }
  h3{
    font-size: 2.6rem;
    }
  .lnk{
    font-size: 2rem;
  }
  footer{
    padding: 1rem;
  }
  footer #text{
    margin: 0rem;
    /* letter-spacing: -0.05rem; */
    font-size: 2.2rem;
    /* width: 100%; */
    text-align: center;
  }

  footer #socialIcons{
  margin:0.6rem;
  }

  footer #socialIcons ul li{
    margin-right: 1.8rem;
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 413px){

  .row{
  grid-auto-rows: auto;
  }
  .card{
    display: block;
  }

  .text{
    width: 100%;
    padding: calc(3% + 3px) 0px;
  }
  .image{
    width: 100%;
  }
}
