*, *:before, *:after {
  box-sizing: border-box;

}

/*********************************/
/* ------ Color Variables ------ */
/*********************************/
:root {
  --main-bg-color: #FFF;

  --dark-green: #262A01; /*#262A01;*/
  --medium-green: #0C4C00; /*#666103;*/
  --lime-green: #1C9D03; /*#A7B909;*/
  --lime-light-green: #74D461; /*#D7DD9F;*/
  --light-green: #EDFFE9; /*#F2F4DB;*/
  --light-grey-green: #C3F4BA; /*#D3DAC3;*/


  --dark-teal: #004C3E;
  --medium-teal:#009176;
  --bright-teal:#01D7B0;


  --dark-orange: #AC5200;
  --bright-orange: #F07000;
  --medium-orange: #FF9538;
  --light-orange: #FFCA9C;
  --white-orange: #FFF0DE;

   --medium-purple: #7D488E;
   --purple: #6651A5;
  --bright-purple: #D39DE5;
  --light-grey-purple: #DED7E0;
  --light-purple: #F5EFF7;

  --dark-brown: #59310E;

  --dark-grey: #55574F;
  --dark-grey-half-transparent: rgba(0,0,0,0.5);
  --dark-grey-fifth-transparent: rgba(0,0,0,0.2);
  --grey: #A5A89D;
  --medium-grey: #D9DCD1;
  --light3-grey: #E2E5DC;
  --light2-grey: #EBEDE7;
  --light-grey: #F2F3EF;
  --lighter-grey: #F9FAF6;
  --white-grey: #FCFDF9;

  --white-yellow: #FDF6DB;
  --light-yellow: #FFEDAD; /*#F6E5A8;*/
  --medium-yellow: #FFDE65;
  --bright-yellow: #FCC500;/*#ECC372;*/

}

/************************/
/* ------ Colors ------ */
/************************/

/* Border */
.greenBorder{
  border: 0.3rem solid var(--lime-green);
}

/* Text */
.green-medium{
  color: var(--medium-green);
}

.green-bright{
  color: var(--lime-light-green);
}

.orange-dark{
  color: var(--dark-orange);
}

.brown-dark{
  color: var(--dark-brown);
}

.white{
  color: var(--light-grey);
}
.turquoise{
  color: var(--bright-teal);
}
.purple{
  color: var(--purple);
}

/* Backgrounds */
.orangeMedBg{
  background-color: var(--medium-orange);
}

.orangeBg{
  background-color: var(--light-orange);
}

.orangeWhiteBg{
  background-color: var(--white-orange);
}

.greenBg{
  background-color: var(--light-green);
}

.greenMedBg{
  background-color: var(--lime-light-green);
}

.greenGreyBg{
    background-color: var(--light-grey-green);
}

.yellowLightBg{
  background-color: var(--light-yellow);
}
.yellowWhiteBg{
  background-color: var(--white-yellow);
}

.yellowBg{
  background-color: var(--bright-yellow);
}

.whiteBg{
  background-color: #fff;
}

.greyBg{
  /* color: var(--light-grey); */
  background-color: var(--grey);
}

.greyMedBg{
  background-color: var(--medium-grey);
}

.lightGrey3Bg{
  background-color: var(--light3-grey);
}
.lightGrey2Bg{
  background-color: var(--light2-grey);
}

.lightGreyBg{
  background-color: var(--light-grey);
}

.lighterGreyBg{
  background-color: var(--lighter-grey);
}

.whiteGreyBg{
  background-color: var(--white-grey);
}

.clearBg{
  padding: 0.3em;
}

.noBg{
  background-color: rgba(255,255,255,0);
}

/*******************************************/
/* ------ Top Level Default Settings ------*/
/*******************************************/
html, body{
  overflow-x: hidden;
  width: 100%;
}

html{
  font-size:10px;
  line-height: 150%;
}

body{
  color: var(--dark-green);
  font-family: 'Muli', sans-serif;
  /* padding-bottom: 5rem; */
  max-width: 2000px;
  margin: 0 auto;
  background-color: var(--lighter-grey);
  /* border: 1px #aaa solid; */
  /* overflow-x: hidden; */
}
main{
  width: 100%;
  margin: 0 auto;
  padding-top: 8rem;
  background-color: #fff;
}
aside{
  margin: 3rem auto;
}
article{
  /* margin: 2rem auto; */
}
/****************************/
/* ------ Typography ------ */
/****************************/
h1{
  text-align: center;
  padding: 0 0 5rem 0;
  font-family: 'Advent Pro';
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}


h2{
  font-family: 'Advent Pro';
  font-size: 3rem;
  font-weight:600;
  max-width: 1230px;
  margin: 0 auto 1em;
  padding: 0 0 0.2em;
  /* padding: 1.33334em 0 1.165em; */
}

#myJourney h2{
  padding: 0;
  text-align: left;
  border-bottom: none;
}

h3{
  /* text-transform: uppercase; */
  font-size: 2.6rem;
  line-height: 100%;
  color: #2B2B27;
  font-weight: 300;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  padding: 0 0 0.5em 0;
  /* margin: 0 auto; */
  /* max-width: 67rem; */
}

.noPadding{
  padding: 0;
}

h4{
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  /* padding: 0.7em 0; */
  line-height: 100%;
  /* margin: 0 auto; */
  /* max-width: 67rem; */

}

h5{
  font-size: 2rem;
  font-family: 'Advent Pro', Roboto, sans-serif;
  font-weight: 600;
  padding-bottom: 0.2em;
}
h6{
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 300;
}
em{
 font-style: italic;
}

p, span, ul, .quote{
  font-size: 1.6rem;
  line-height: 150%;
  padding-bottom: 1.5rem;
}


p{
  max-width: 67rem;
  margin: 0 auto;
}

p.less-line-height{
  line-height: 120%;
}

#myJourney p{
  max-width: none;
}
#myJourney a{
  font-weight: 400;
}

ul{
  line-height: 160%;
}
/* ul.withBullets{
  list-style-type: disc;
} */
ul li.pSpacing{
  padding-bottom: 0.4em;
}
ul li.pSpacing:last-child{
  padding-bottom: 0;
}

.quote{
  font-size: 2em;
  font-weight: 700;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: right;
  color: var(--medium-green);
  margin-left: 2%;
  /* margin-right: -10%; */
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 0.5rem var(--medium-green) solid;
}

.topPadding{
  padding-top: 1.5rem;
}

date{
  padding: 10px 0 15px 0;
  display: block;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.italics{
  font-style:italic;
  font-size: 1em;
}

.caption{
  font-size:2rem;
}

/***********************/
/* ------ Links ------ */
/***********************/

a{
  text-decoration: none;
  color:var(--dark-grey);
  font-weight: 600;
  transition: color 0.3s ease;
  /* display: inline-block; */
  position: relative;
  line-height: 160%;
}

a:after{
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 0.1rem solid;
  margin-top: 0.6em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a:hover:after{
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.lnk{
  text-transform: uppercase;
  font-family: 'Roboto Condensed','Advent Pro', sans-serif;
  font-size: 2.4rem;
  padding-top: 1rem;
  font-weight: 400;
  /* line-height: 200%; */
}

/* Overriding underline effect on special links */
  .linkNoUnderline:hover{
    text-decoration: none;
    /* border: none; */
  }

  .linkNoUnderline::after{
    display:none;
  }

/******************************/
/* ------ Font weights ------ */
/******************************/
.bold-300{
  font-weight: 300;
}
.bold-400{
  font-weight: 400;
}

.bold-600{
  font-weight: 600;
}

.bold-700{
  font-weight: 700;
}

/***************************************/
/* ------ Border Specifications ------ */
/***************************************/

.roundCorners{
  border-radius: 0.5rem;
}

.circleBorder{
  border-radius: 50%;
  /* background-color: var(--light-grey); */
  /* padding: 1em; */
}

.greyBorder{
    border: var(--grey) solid 0.3rem;
    color: var(--dark-grey);
}

.bottomBorder, .bottomBorder66, .bottomBorder100{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid var(--lime-green);
}
.bottomBorder{
    margin-right: 66%;
}
.bottomBorder66{
  margin-right: 33%;
}
.bottomBorder100{
  margin-right: 0;
}


/******************************/
/* ------ image sizing ------ */
/******************************/
img{
  max-width: 1280px;
}

 main img{
  display:block;
}

.centered{
  /* width: 50%; */
  margin: 0 auto;
  text-align: center;
}

.m-large, .m-medium{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-large{
  width: 100%;
}

.m-medium{
  max-width: 30rem;
}

.m-smaller{
  max-width: 9rem;
  /* height: 100%; */
  /* display: inline; */
}



.shapeContainer{
  display: flex;
  margin: 2rem auto;
  align-items: center;
}
/* .shapeContainer img{
  display: inline;
} */



/***************************************************************/
/* ------ for Items that need to be fixed on the screen ------ */
/***************************************************************/

.sticky{
  display:inline;
  position: fixed;
  z-index: 1;
}
/*************************************************************/
/* ------ Specifically for My Journey Expand/Collapse ------ */
/*************************************************************/

  a.whyIMovedOn, summary.whyIMovedOn::before{
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: 2rem;
    color: var(--lime-green);
    text-transform: uppercase;
    line-height: 150%;
  }
  /*sets pseudo class above details to say "expand"*/
  summary.whyIMovedOn::before{
    content: 'Why I moved on';
  }
  /* Specifically for My Journey Expand/Collapse
   * removing the turning arrow
  */
  summary::-webkit-details-marker{
    display: none;
  }
  /* details are lighter type
  */
  details[open] p{
    font-weight: 300;
  }
  /* Change text to collapse when details are open.

  */
  details[open] summary.whyIMovedOn::before {
      content:'Hide';
      color: var(--dark-brown);
  }

/******************************************************/
/* ------ Specifically for the linkToTop button ----- */
/******************************************************/
#linkToTop{
  bottom: 10em;
  right: 3em;
  text-align: center;
  padding: 0.5em 1em 1em;
  background-color: rgba(255,255,255,0.7);
}
#linkToTop i, #linkToTop div{
  position: relative;
  top:0;
  text-transform: uppercase;
}
#linkToTop i{
  font-size: 2rem;
}

#linkToTop.sticky:hover{
  background-color: var(--lime-green);
  color: #fff;
}

.desktop{
  display:none;
}

/**********************************************/
/* ------ For Medium Screens and above ------ */
/**********************************************/
@media screen and (min-width: 575px) {
  .mobile{
    display:none;
  }
  .desktop{
    display:block;
  }
  /*Only flex on larger screens*/
  .flexing{
    display: flex;
    flex-direction: row;
  }

  main{
    width: 100%;
    margin: 0 auto;
    padding-top: 12.5rem;
  }

  main #intro_1>div{
    padding-top: 4rem;
  }

  h1{
    /* padding: 0 2rem 6rem; */
    font-size: 4.2rem;
  }

  h2{
    /* padding-left: 10.6rem; */
    font-size: 4.2rem;
  }

  h3{
    font-size: 2.88rem;
    /* padding-bottom: 0.3em; */
  }

  h4{
    font-size: 2.8rem;
  }

  h5{
    font-size: 2.6rem;
  }
  h6{
    font-size: 1.8rem;
  }

  p, span{
    font-size:2rem;
  }

  summary.whyIMovedOn::before, a.whyIMovedOn{
    font-size:2.4rem;
  }

  .quote{
      font-size: 2.5rem;
      border-right-width: 1rem;
  }

  .d-xlarge{
    /* padding: 1rem 11%; */
    /* display: flex; */
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 100%;
  }
  .d-large, .d-medium{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .d-large{
    /* margin: 0 auto; */
    width: 85%;
  }

  .d-medium{
    /* margin: 0 auto; */
    /* width: 50% */
    max-width: 30rem;
    /* margin-top: 0; */
  }

  .d-small{
    max-width: 15rem;
  }

  .d-vertical{
    flex-direction: column;
    justify-content: space-between;
    /* align-content: center; */
    /* margin: 2rem 30% 2rem auto; */
  }


}
/***********************************/
/* ------ For Large Screens ------ */
/***********************************/
@media screen and (min-width: 769px){
  p, span, ul{
    font-size: 2rem;
    line-height: 160%;
  }

  h1{
    font-size: 5.972rem;
  }


  h2{
    font-size: 41.47rem;
  }

  h3{

    }

  .lnk{
    font-size: 2.8rem;
  }
  date{
    font-size: 1.8rem;
  }
  .quote{
      margin-right: -5%;
      font-size: 3rem;
  }

  .d-xlarge{
    /* padding: 1rem 11%; */
    /* display: flex; */
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .shadow{
    box-shadow: 0rem 1rem 100px var(--dark-grey-fifth-transparent);
  }

}

/**************************************************/
/* ------ hiding certain things for Mobile ------ */
/**************************************************/
@media screen and (max-width: 574px){


}

@media screen and (max-width: 413px){

  h2{
      text-align: center;
  }

  h3{
    font-size: 2.2rem;
  }

  h4{
    font-size: 2rem;
  }

  h4.imgAbove{
    text-align:center;
  }

  .lnk{
    font-size: 2rem;
  }
  .m-horizontal{
   flex-direction: row;
  }

}
/* Overrides to standard styles*/
.noTopPadding{
 padding-top: 0;
}

.noTopMargin{
  margin-top: 0;
}
.noBottomMargin{
  margin-bottom: 0;
}

.noMargin{
  margin: 0;
}
