*, *:before, *:after {
    box-sizing: border-box;
    font-size:10px;
}
:root {
    --main-bg-color: #FFF;
    --dark-green: #262A01;
    --medium-green: #666103;
    --lime-green: #A7B909;

}

html{
  font-size:10px;

}

body{
  color: var(--dark-green);
  font-family: 'Muli';
  padding-bottom: 5rem;
  width-max: 1024px;
  margin-left: 5%;

}

h1{
  font-family: 'Advent Pro';
  font-size: 3.2rem;
  font-weight: 700;
}
h2{
  font-family: 'Advent Pro';
  font-size: 3rem;
  font-weight:600;
}
