*, *:before, *:after {
  box-sizing: border-box;

}
:root {
  --main-bg-color: #FFF;

  --dark-green: #262A01;
  --medium-green: #666103;
  --lime-green: #A7B909;

  --medium-purple: #7D488E;
  --bright-purple: #D39DE5;
  --light-grey-purple: #DED7E0;
  --light-purple: #F5EFF7;

  --breakpoint-mobile: 575px;
}

html{
  font-size:10px;

}

body{
  color: var(--dark-green);
  font-family: 'Muli', sans-serif;
  padding-bottom: 5rem;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}
main{
  width: 100%;
  margin: 0 auto;
}

h1{
  text-align: center;
  padding: 8rem 2rem;
  font-family: 'Advent Pro';
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
h2{
  font-family: 'Advent Pro';
  font-size: 3rem;
  font-weight:600;
}
h3{
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 100%;
  color: #2B2B27;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

a{
  text-decoration: none;
}

.center{
  text-align: center;
}

.bold-300{
  font-weight: 300;
}
.bold-400{
  font-weight: 400;
}

.bold-500{
  font-weight: 500;
}

.bold-700{
  font-weight: 700;
}

.purple-dark{
  color: var(--medium-purple);
}
.purplegreyBg{
  background-color: var(--light-grey-purple);
}

.purpleBg{
  background-color: var(--light-purple);
}

.sticky{
  display:inline;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  background-color: #fff;
  text-align: center;
}

.linkNoUnderline:hover{
  text-decoration: none;
  border: none;
}

#linkToTop i, #linkToTop div div{
  position: relative;
  top:0;
  opacity: 0.75;
  font-size: 2rem;
}
/*For Desktop*/
@media screen and (min-width: 575px) {
  .mobile{
    display:none;
  }
  .flexing{
    display: flex;
  }

  p{
    font-size:2.4rem;
    line-height: 150%;
    padding-bottom: 1.5rem;
  }
  h3{
    font-size: 3.6rem;
  }


}
/*For Mobile*/
@media screen and (max-width: 574px){
  .desktop{
    display:none;
  }
  p{
    font-size:1.6rem;
    line-height: 140%;
    padding-bottom: 1.5rem;
  }

}
