/* Overrides to standard styles*/
.noTopPadding{
 padding-top: 0;
}
.noBottomPadding{
  padding-bottom: 0;
}

.noTopMargin{
  margin-top: 0;
}
.noBottomMargin{
  margin-bottom: 0;
}

.noMargin{
  margin: 0;
}
