/* Overrides to standard styles*/
@media screen and (max-width: 768px){
  .noTopPadding{
   padding-top: 0;
  }
  .noBottomPadding{
    padding-bottom: 0;
  }

  .noRLPaddingMobile{
    padding-right: 0;
    padding-left: 0;
  }

  .noTopMargin{
    margin-top: 0;
  }
  .noBottomMargin{
    margin-bottom: 0;
  }

  .noMargin{
    margin: 0;
  }

  .topBottomPadding{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .topPadding{
    padding-top: 2rem;
  }
/* 
  .marginRLMobile{
    margin-left: 2rem;
    margin-right: 2rem;
  } */

  .bottomPadding{
    padding-bottom:1rem;
  }

  .desktop{
    display:none;
  }
}

@media screen and (min-width: 769px){
  .topBottomPadding{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .topPadding{
    padding-top: 3rem;
  }

  .bottomPadding{
    padding-bottom:3rem;
  }
  .mobile{
    display:none;
  }
  /* .desktop{
    display:inherit;
  } */
}
