/***************************************/
/* ----- Cirrus User Research Graphics ------ */
/***************************************/
#CirrusGraphs{
  max-width: 1040px;
  margin: auto;
}
#Frustrations{
  display:flex;
  flex-direction: column;
  min-height: 30rem;
  margin-bottom: 2rem;

}
#Frustrations li, #CollaborationExcitement li{
  padding: 5%;
  display: flex;
}
#Frustrations li:nth-child(1){
  background-color: var(--medium-orange);
  height: 10.5rem;
  order: 2;
}
#Frustrations li:nth-child(2){
  background-color: var(--bright-orange);
  height: 15rem;
  order: 1;
}
#Frustrations li:nth-child(3){
  background-color: var(--light-orange);
  height: 4.5rem;
  order:3;
}

#Frustrations li div:nth-child(1), #CollaborationExcitement li div:nth-child(1), #CEKey li div:nth-child(1){
  width: 20%;
  align-self: center;
  font-size: 2.2rem;
  font-weight: 300;
}
#Frustrations li div:nth-child(2), #CollaborationExcitement li div:nth-child(2), #CEKey li div:nth-child(2){
  width: 80%;
  font-size: 1.8rem;
  line-height: 130%;
  align-self: center;
}

#CollaborationExcitement, #CEKey{
  /* max-width: 67rem; */
  /* margin:0 auto; */
}

#CollaborationExcitement{
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

#CEKey{
  padding: 0 1.1rem;
}
#CollaborationExcitement{
  border-left: solid 1px var(--dark-orange);
  border-right: solid 1px var(--dark-orange);
}
#CollaborationExcitement li{
    margin: 1rem 0;
}

#CollaborationExcitement li:nth-child(1){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 72%, var(--light-grey) 72%, var(--light-grey)
  );
}
#CollaborationExcitement li:nth-child(2){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 63%, var(--light-grey) 63%, var(--light-grey)
  );
}
#CollaborationExcitement li:nth-child(3){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 56%, var(--light-grey) 56%, var(--light-grey)
  );
}

 #CEKey li{
   display: flex;
 }

#CEKey li div:nth-child(1){
  height: 100%;
  background-color: var(--medium-orange);
  /* margin-right: 1rem; */
}
#CEKey li div:nth-child(2){
  padding-left: 3%;
}
/************************************************/
/* ------ Copilot User Research Graphics ------ */
/************************************************/
#CopilotBarChart{
  max-width: 1040px;
}
#CopilotBarChart.d-one-m-one-col-grid{
  /* max-width: 1440px; */
  /* margin: 0 auto; */
  align-items: end;
}

#CopilotBarChart .d3-t2-m1-col-grid{
  align-items: end;
  grid-gap: 2rem;
  margin: 2rem 0;
}

#CopilotKey{
  margin: auto;
  margin-top: 4rem;
  border-top: 2px solid var(--medium-grey);
  border-bottom: 2px solid var(--medium-grey);
  max-width: 1440px;

}

#FPP .color, #FFP .color, #IP .color{
  margin: 3%;
  height: 100%;
  padding: 2% 0 2% 15%;
}

#FPP .color{
  background: linear-gradient( to right,var(--light-teal), var(--light-teal) 14%, var(--white-grey) 14%, var(--white-grey));
}

#FFP .color{
  background: linear-gradient( to right,var(--bright-teal), var(--bright-teal) 14%, var(--white-grey) 14%, var(--white-grey));
}

#IP .color{
  background: linear-gradient( to right,var(--medium-teal), var(--medium-teal) 14%, var(--white-grey) 14%, var(--white-grey));
}

/**********************************/
/* ----- Project Navigation ----- */
/**********************************/


.nextProject, .previousProject{
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
  color: var(--lime-green);
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
}

.nextProject{
  text-align: right;
}
.previousProject{
  text-align: left;
}

.nextProject:hover, .previousProject:hover{
  /* border-top: 0.1rem var(--lime-green) solid;
  border-bottom: 0.1rem var(--lime-green) solid; */
  /* padding: 0.9rem 1rem; */
  transform: scale(1.02);
  background-color: var(--light-green);

}

.nextProject:hover{
    transform-origin: left;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(237,255,233,1) 15%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(237,255,233,1) 15%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(237,255,233,1) 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#edffe9',GradientType=1 ); /* IE6-9 */
}

.previousProject:hover{
    transform-origin: center;
    background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(237,255,233,1) 15%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(237,255,233,1) 15%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(237,255,233,1) 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#edffe9',GradientType=1 ); /* IE6-9 */
}

.projectNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*removes standard link underline effect*/
.projectNav a:after{
  border-bottom: none;
}

.projectNav a{
  width: auto;
}

/*******************************/
/* ----- Fab-type Icons ------ */
/*******************************/
.icon{
  width: 56px;
  padding: 0.2rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  /* border: 1px solid var(--bright-yellow); */
  background-color: var(--grey);
}



/*******************************/
/* ------ speech bubbles ------*/
/*******************************/
  .ideaBubble{
  display: block;
  max-width: 575px;
  }
  .ideaBubble div img{
    display: inline;
  }
 .roundCorner{
    /* text-align: center; */
    padding: 0.5em;
    border-radius: 0.3em;
    min-width: 20rem;
    margin: 1rem auto;
    position: relative;
    z-index: 0;
  }
  .textC{
    text-align: center;
  }
  .textR{
    text-align: right;
  }

  /* .clearBg{
    padding: 0.3em;
  } */
  /* .greyBg{
    color: var(--light-grey);
    background-color: var(--grey);
  } */
  /* .greyBorder{
      border: var(--grey) solid 0.3rem;
      color: var(--dark-grey);
  } */

  .triangle{
    margin: 0rem 0 0 2.5rem;
  }

  .triangle::after{
    content: '';
  	position: absolute;
  	left: 0;
  	top: 50%;
  	width: 0;
  	height: 0;
    border: 1.25em solid transparent;
    border-right-color: var(--grey);
    border-left: 0;
    margin-top: -1.25em;
    margin-left: -1.1em;
  }
  .triangleTop{
    margin: 2.5rem 0 0 0;
    padding: 3rem 3rem 1rem 3rem;
  }
  .triangleTop::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 50%;
  	width: 0;
  	height: 0;
  	border: 1.5em solid transparent;
  	border-bottom-color: var(--light-yellow);
  	border-top: 0;
  	margin-left: -1.5em;
  	margin-top: -1.5em;
  }
  /* .triangleRight{
    position: relative;
  }

  .triangleRight::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-left-color: var(--dark-grey);
    border-right: 0;
    margin-top: -3rem;
    margin-right: 0rem;
  } */


.flexCenter{
  justify-content: center;
  display:flex;
  flex-wrap: nowrap;
}

.flexCenter > *{
  margin: 0 0.5rem;
}
.flexCenter img{
  height: 90%;
}

.lengthA{
  max-width: 30rem;
}

.lengthB{
  max-width: 28rem;
}

.lengthC{
  max-width: 18rem;
  min-width: 8rem;
}


/***************************************/
/* ----- User Persona section ------ */
/***************************************/
#personas article{
  background-color: var(--dark-grey-half-transparent);
  background-position: top;
  /*background-blend-mode: luminosity;*/
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
}

#Samira{
  background-image: url(../projects/cirrus/images/photos/samira.jpeg);
  /* grid-area: card1; */
}

#Raul{
  background-image: url(../projects/cirrus/images/photos/raulLowSat2.png);
  /* grid-area: card2; */
}

#William{
  background-image: url(../projects/cirrus/images/photos/william2Color.png);
  /* grid-area: card3; */
  color: #FFF;
}

/* #Raul .title{
  text-align: right;
} */

.overlay, .title{
  padding: 2rem 2rem 0;
}

.overlay{
  background-position: top;
  color: var(--light-grey);
  font-weight: 300;
  background-color: var(--dark-grey-half-transparent);
  padding-bottom: 2rem;

}
.overlay:last-child{
  padding-bottom: 1rem;
}
.title{
  /* height: 60%; */
  flex-grow: 1;
  flex-basis: 35rem;
}

/*******************************/
/* ------ HiFi Homepage ------ */
/*******************************/
 #HomepageV1{
   grid-area: homepageV1;
   align-self: center;
 }
 #HomepageV2{
   grid-area: homepageV2;
 }
 #HomepageV1Text{
   grid-area: homepageV1text;
   border-radius: 1rem;
   border: 5px solid var(--bright-orange);
   margin: 2rem 0;
   padding: 2rem 2rem 1rem 2rem;
   background-color: white;
 }

 #HomepageConcl{
   grid-area: homepageConcl;
   margin-top: 2rem;
 }


 /* #HomepageV1Text ul{


 } */

 /* figure{
   position: relative;
   overflow: hidden;
   margin: 0;
   padding: 30% 0;
   cursor: pointer;
 }

 figure img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   mix-blend-mode: multiply;
   filter: saturate(0);
   transition: all 0.3s ease-in-out;
 } */


/******************************/
/* ------ MEDIA QUERIES ------*/
/******************************/
@media screen and (max-width: 413px){
  #Frustrations li div:nth-child(1), #CollaborationExcitement li div:nth-child(1), #CEKey li div:nth-child(1){
    font-size: 2rem;
  }

  #Frustrations li div:nth-child(2), #CollaborationExcitement li div:nth-child(2), #CEKey li div:nth-child(2){
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 575px){
  .triangleGreyBg{
    border-radius: 0.5em;
  }
  /* .DT{
    flex-direction: row;
    max-width: 80rem;
    margin: auto;
  } */
  .deliverables{
    width: 66%;
  }
  .tools{
    width: 34%;
  }

  /* .ideaBubble{
    margin-bottom: 6rem;
  } */

  /* .lastInSection{
    margin-bottom: 0;
  } */
}


@media screen and (min-width: 769px){
  .triangleGreyBg{
    margin: 0 0 0 3rem;
    border-radius: 0.9em;
  }

  .overlay{
    /* height: 50%; */
  }

  .overlay:last-child{
    padding-bottom: 0;
  }

  .DT li{
    font-size: 2.2rem;
    line-height: 160%;
  }

  #Frustrations{
    flex-direction: row;
    min-height: auto;
  }
  #Frustrations li{
    display: block;
    padding: 4%;
    /* height: auto; */
  }

  #Frustrations li:nth-child(1){
    width: 35%;
    height: auto;
    order: 2;
  }

  #Frustrations li:nth-child(2){
    width: 50%;
    height: auto;
    order:1;
  }

  #Frustrations li:nth-child(3){
    width: 15%;
    height: auto;
    order:3;
  }
  #Frustrations li div:nth-child(1), #Frustrations li div:nth-child(2){
    width: 100%;
  }
  #Frustrations li div:nth-child(1){
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }
  #Frustrations li div:nth-child(2){
    font-size: 1.8rem;
  }
  #CollaborationExcitement{
      padding: 0 2rem;
      margin-bottom: 4rem;
    }

  #CollaborationExcitement li{
      padding: 3%;
  }

  #CEKey{
      padding: 0 2.2rem;
  }
  #CollaborationExcitement li:nth-child(-n+3){
    margin: 2rem 0;
  }
  #CollaborationExcitement li div:nth-child(1), #CEKey li div:nth-child(1){
    width: 10%;
  }
  #CollaborationExcitement li div:nth-child(2), #CEKey li div:nth-child(2){
    width: 90%;
  }
  #personas article{
   margin: 0;
  }

  #personaIntro, #personaConclusion{
    background-color: var(--medium-grey);
  }

  #HomepageV1Text, #HomepageConcl{
    background-color: white;
    margin: 0;
    padding: 0;
  }

  #personaIntro{
    grid-area: intro;
  }

  #CopilotBarChart .d3-t2-m1-col-grid{
    /* align-items: end; */
    margin: unset;
  }

  #FPP .color, #FFP .color, #IP .color{
    margin: 7% 5%;
    height: 100%;
    padding: 2% 0 2% 15%;
  }

  .centerInGrid{
     position: relative;
     margin: 0;

   }
  .centerInGrid>p, .centerInGrid>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem;
    font-size: 1.8rem;
  }
  .centerInGrid>div>p{
    font-size:1.8rem;
  }

  #personaConclusion{
    grid-area: concl;
  }

/* Project Navigation for desktop >769px */
  /* .projectNav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  } */
  .projectNav a{
    width: auto;
    min-width: 20rem;
  }
  /* .projectNav a:after{
    border-bottom: none;
  } */
  .nextProject, .previousProject{
    font-size: 2.4rem;
    padding: 2rem 1rem;
  }

  .nextProject{
    text-align: right;
  }
  .previousProject{
    text-align: left;
  }
  .previousProject:hover{
    transform-origin: right;
  }

  .nextProject:hover, .previousProject:hover{
    /* padding: 1.9rem 1rem; */
  }



}
