/***************************************/
/* ----- User Research Graphics ------ */
/***************************************/
#Frustrations{
  display:flex;
  flex-direction: column;
  min-height: 30rem;
  margin-bottom: 2rem;

}
#Frustrations li, #CollaborationExcitement li{
  padding: 5%;
  display: flex;
}
#Frustrations li:nth-child(1){
  background-color: var(--medium-orange);
  height: 10.5rem;
  order: 2;
}
#Frustrations li:nth-child(2){
  background-color: var(--bright-orange);
  height: 15rem;
  order: 1;
}
#Frustrations li:nth-child(3){
  background-color: var(--light-orange);
  height: 4.5rem;
  order:3;
}

#Frustrations li div:nth-child(1), #CollaborationExcitement li div:nth-child(1), #CEKey li div:nth-child(1){
  width: 20%;
  align-self: center;
  font-size: 2.2rem;
  font-weight: 300;
}
#Frustrations li div:nth-child(2), #CollaborationExcitement li div:nth-child(2), #CEKey li div:nth-child(2){
  width: 80%;
  font-size: 1.8rem;
  line-height: 130%;
  align-self: center;
}

#CollaborationExcitement, #CEKey{
  max-width: 67rem;
  margin:0 auto;
}

#CollaborationExcitement{
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

#CEKey{
  padding: 0 1.1rem;
}
#CollaborationExcitement{
  border-left: solid 1px var(--dark-orange);
  border-right: solid 1px var(--dark-orange);
}
#CollaborationExcitement li{
    margin: 1rem 0;
}

#CollaborationExcitement li:nth-child(1){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 72%, var(--light-grey) 72%, var(--light-grey)
  );
}
#CollaborationExcitement li:nth-child(2){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 63%, var(--light-grey) 63%, var(--light-grey)
  );
}
#CollaborationExcitement li:nth-child(3){
  background: linear-gradient( to right,var(--medium-orange), var(--medium-orange) 56%, var(--light-grey) 56%, var(--light-grey)
  );
}

 #CEKey li{
   display: flex;
 }

#CEKey li div:nth-child(1){
  height: 100%;
  background-color: var(--medium-orange);
  /* margin-right: 1rem; */
}
#CEKey li div:nth-child(2){
  padding-left: 3%;
}
/*******************************/
/* ------ Subnavigation ------ */
/*******************************/



/**********************************/
/* ----- Project Navigation ----- */
/**********************************/

.nextProject{
  border-top: 1px var(--grey) solid;
  border-bottom: 1px var(--grey) solid;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-transform: uppercase;
  color: var(--grey);
  font-size: 2.2rem;
  text-align: right;
  /* margin: 2rem 0 2rem 10%; */
  padding: 1rem 2rem 1rem 0;
}
.projectNav{
  /* text-align:right; */
}
.projectNav::after{
  border-bottom: none;
}
.projectNav:hover{
  transform: scale(1.01);
  transform-origin: left;
}


/*******************************/
/* ----- Fab-type Icons ------ */
/*******************************/
.icon{
  width: 56px;
  padding: 0.2rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  /* border: 1px solid var(--bright-yellow); */
  background-color: var(--bright-yellow);
}



/*******************************/
/* ------ speech bubbles ------*/
/*******************************/
  .ideaBubble{
  display: block;
  max-width: 575px;
  }
  .ideaBubble div img{
    display: inline;
  }
 .roundCorner{
    /* text-align: center; */
    padding: 0.5em;
    border-radius: 0.3em;
    min-width: 20rem;
    margin: 1rem auto;
    position: relative;
    z-index: 0;
  }
  .textC{
    text-align: center;
  }
  .textR{
    text-align: right;
  }

  /* .clearBg{
    padding: 0.3em;
  } */
  /* .greyBg{
    color: var(--light-grey);
    background-color: var(--grey);
  } */
  /* .greyBorder{
      border: var(--grey) solid 0.3rem;
      color: var(--dark-grey);
  } */

  .triangle{
    margin: 0rem 0 0 2.5rem;
  }

  .triangle::after{
    content: '';
  	position: absolute;
  	left: 0;
  	top: 50%;
  	width: 0;
  	height: 0;
    border: 1.25em solid transparent;
    border-right-color: var(--grey);
    border-left: 0;
    margin-top: -1.25em;
    margin-left: -1.1em;
  }
  .triangleTop{
    margin: 2.5rem 0 0 0;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
  }
  .triangleTop::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 50%;
  	width: 0;
  	height: 0;
  	border: 1.5em solid transparent;
  	border-bottom-color: var(--bright-yellow);
  	border-top: 0;
  	margin-left: -1.5em;
  	margin-top: -1.5em;
  }
  .triangleRight{
    position: relative;
  }

  .triangleRight::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-left-color: var(--dark-grey);
    border-right: 0;
    margin-top: -3rem;
    margin-right: 0rem;
  }



.flexCenter{
  justify-content: center;
  display:flex;
  flex-wrap: nowrap;
}

.flexCenter > *{
  margin: 0 0.5rem;
}
.flexCenter img{
  height: 90%;
}

.lengthA{
  max-width: 30rem;
}

.lengthB{
  max-width: 28rem;
}

.lengthC{
  max-width: 18rem;
  min-width: 8rem;
}

/**********************************/
/* ------ Deliverables-Tools------*/
/**********************************/
.DT{
  display: flex;
  flex-direction: column;
  padding: 0 2rem 4rem 2rem;

}

.DT h4{
  color: var(--dark-green);
}

.DT li{
  padding: 0.5rem 0;
  font-size: 1.8rem;
}

.deliverables, .tools{
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
}

.deliverables{
  background-color: var(--light-grey-green);

}
.tools{
  background-color: #DDEDDA;
}


/***************************************/
/* ----- User Persona section ------ */
/***************************************/
#personas article{
  background-color: var(--dark-grey-half-transparent);
  background-position: top;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  /* max-width: 55rem; */
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
}


#Samira{
  background-image: url(../projects/cirrus/images/photos/samira.jpeg);
  grid-area: card1;
}

#Raul{
  background-image: url(../projects/cirrus/images/photos/raulCropped.jpeg);
  grid-area: card2;
}

#William{
  background-image: url(../projects/cirrus/images/photos/william3.jpeg);
  grid-area: card3;
}

#Raul .title{
  text-align: right;
}

.overlay, .title{
  padding: 2rem;
}


.overlay{
  height: 40%;
  flex-grow: 1;
  background-position: top;
  color: var(--light-grey);
  font-weight: 300;
  background-color: var(--dark-grey-half-transparent);

}
.overlay:last-child{
  padding-bottom: 1rem;
}
.title{
  height: 60%;
  flex-grow: 3;
  flex-basis: 35rem;
}





/*MEDIA QUERIES*/
@media screen and (min-width: 575px){
  .triangleGreyBg{
    border-radius: 0.5em;
  }
  .DT{
    flex-direction: row;
    max-width: 80rem;
    margin: auto;
  }
  .deliverables{
    width: 66%;
  }
  .tools{
    width: 34%;
  }
}


@media screen and (min-width: 768px){
  .triangleGreyBg{
    margin: 0 0 0 3rem;
    border-radius: 0.9em;
  }

  .overlay{
    height: 50%;
  }

  .overlay:last-child{
    padding-bottom: 0;
  }

  .DT li{
    font-size: 2.2rem;
    line-height: 160%;
  }

  #Frustrations{
    flex-direction: row;
    min-height: auto;
  }
  #Frustrations li{
    display: block;
    padding: 4%;
    /* height: auto; */
  }

  #Frustrations li:nth-child(1){
    width: 35%;
    height: auto;
    order: 2;
  }

  #Frustrations li:nth-child(2){
    width: 50%;
    height: auto;
    order:1;
  }

  #Frustrations li:nth-child(3){
    width: 15%;
    height: auto;
    order:3;
  }
  #Frustrations li div:nth-child(1), #Frustrations li div:nth-child(2){
    width: 100%;
  }
  #Frustrations li div:nth-child(1){
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }
  #Frustrations li div:nth-child(2){
    font-size: 1.8rem;
  }
  #CollaborationExcitement{
      padding: 0 2rem;
      margin-bottom: 4rem;
    }

  #CollaborationExcitement li{
      padding: 3%;
  }

  #CEKey{
      padding: 0 2.2rem;
  }
  #CollaborationExcitement li:nth-child(-n+3){
    margin: 2rem 0;
  }
  #CollaborationExcitement li div:nth-child(1), #CEKey li div:nth-child(1){
    width: 10%;
  }
  #CollaborationExcitement li div:nth-child(2), #CEKey li div:nth-child(2){
    width: 90%;
  }
  #personas article{
   margin: 0;
  }
  #personaIntro, #personaConclusion{
    background-color: var(--light3-grey);
    position: relative;
  }
  #personaIntro{
    grid-area: intro;
  }
  #personaIntro p, #personaConclusion p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem;
  }
  #personaConclusion{
    grid-area: concl;
    /* padding: 2rem; */
  }

}
